*{
    padding: 0;
    margin: 0;
}

body, .header, .menu a {
    transition: .7s ease all;
  }
  
.header {
      position: fixed;
      width: 100%;
      display: flex;
      align-items: center;
      background-color: white;
      justify-content: space-between;
  }
  
.menu {
      display: flex;
      width:  100%;
      margin: 0 25px;
      list-style: none;
}
  
  .menu  li {
      margin: 30px auto;
      overflow: hidden;
}
  
.menu a {
    font-size: 18px;
    font-weight: 500;
    color: #003fe6;
    text-decoration: none;
    position: relative;
    display: block;
    transition: transform 0.4s;
}

  
.menu  a::before {
      content: attr(data-text);
      position: absolute;
      top: 100%;
  }
  
.menu  a:hover {
      transform: translateY(-100%);
  }
  
.menu  li a:after {
      content: '';
      height: 2px;
      width: 0px;
      background-color: rgb(50, 196, 240);
      position: absolute;
      bottom: -22px;
      right: 0;
      transition: 0.3s width ease-in-out;
  }
  
.menu  li a:hover:after, .menu  li a.active:after {
      width: 100%;
  }

